* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Segoe UI", sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.page {
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  max-width: 800px;
}

.card h1 {
  color: #ff4d6d;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

button:focus  {
  outline: none;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: #ddd;
  position: relative;
}

.reset{
  background: #dddddd00;
  color: #555;
}
